@import '@styles/variables/index';

.checkboxes-select {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    height: 38px;
    border: 1px solid $colorAcGray;
    border-radius: 4px;
    background: $colorWhite;

    &:hover &__dropdown-list {
        display: flex;
    }

    >h6 {
        color: $colorAcGray;
        padding: 0 12px;
    }

    &__dropdown-list {
        display: none;
        flex-direction: column;
        width: calc(100% + 2px);
        background: $colorWhite;
        position: absolute;
        top: 30px;
        left: -1px;
        border: 1px solid $colorAcGray;
        border-top: none;
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
        padding: 0 0 12px;
        z-index: 2;
    }

    &__checkbox {
        position: relative;
        display: flex;
        align-items: center;
        margin-top: 15px;
        margin-left: 12px;
        cursor: pointer;

        >input {
            position: absolute;
            opacity: 0;
            z-index: -1;

            &:checked ~ span {
                background: $colorGreen;
                border-color: $colorGreen;
                background-image: url('data:image/svg+xml;utf8,<svg width="10" height="8" viewBox="0 0 10 8" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M3.39644 7.84288L0.146441 4.35628C-0.0488135 4.14681 -0.0488135 3.80718 0.146441 3.59769L0.853531 2.8391C1.04879 2.62961 1.36539 2.62961 1.56064 2.8391L3.75 5.18782L8.43936 0.157101C8.63461 -0.0523671 8.95121 -0.0523671 9.14647 0.157101L9.85356 0.915689C10.0488 1.12516 10.0488 1.46479 9.85356 1.67428L4.10355 7.8429C3.90828 8.05237 3.5917 8.05237 3.39644 7.84288Z" fill="white"/></svg>');
                background-repeat: no-repeat;
                background-position: center;
            }
        }

        >span {
            width: 18px;
            min-width: 18px;
            height: 18px;
            background: $colorWhite;
            border: 1px solid $colorAcGray;
            border-radius: 2px;
            margin-right: 10px;
            color: red;
        }

        >p {
            color: $colorAcGray;
        }
    }
}
