@import '@styles/variables/index';

.employee-card {
    position: relative;
    display: flex;
    flex-direction: column;
    width: calc(100% / 3 - 16px);
    margin-top: 24px;
    border-radius: 4px;
    box-shadow: 0px 0px 16px 0px #324A6629;
    border: 1px solid $colorLightGray;
    overflow: hidden;

    &:hover {
        .employee-card__actions {
            transform: translateY(0);
        }
    }

    &__head {
        display: flex;
        align-items: center;
        padding: 12px 20px;
        width: 100%;
        background: $colorSuperLightBlue;
    }

    &__avatar-box {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        overflow: hidden;
        box-shadow: 0px 0px 12px 0px #11284A57;
        background: $colorWhite;

        >img {
            width: 100%;
        }
    }

    &__head-data {
        display: flex;
        flex-direction: column;
        margin-left: 12px;
    }

    &__body {
        display: flex;
        flex-direction: column;
        padding: 12px 20px 20px;
    }

    &__body-item {
        display: flex;
        align-items: center;
        margin-top: 10px;

        &:first-child {
            margin-top: 0;
        }

        >svg {
            color: $colorGreen;
            width: 22px;
            font-size: 16px;
        }

        >h6 {
            margin-left: 8px;
        }
    }

    &__actions {
        position: absolute;
        bottom: -1px;
        left: -1px;
        width: calc(100% + 2px);
        display: flex;
        justify-content: center;
        padding: 20px 0;
        border-radius: 4px;
        border: 1px solid $colorLightGray;
        background: $colorWhite;
        transform: translateY(100%);
        transition: .4s;
    }

    &__icon {
        @include btn-icon;

        margin: 0 3px;

        &--tertiary {
            @include btn-tertiary;
        }

        &--error {
            @include btn-error;
        }
    }
}
