@import '@styles/variables/index';

.input-wrapper {
    position: relative;
    width: 100%;

    >input {
        display: flex;
        width: 100%;
        height: 38px;
        background-color: $colorWhite;
        border: 1px solid $colorAcGray;
        border-radius: 4px;
        outline: none;
        font-size: 1rem;
        line-height: 1.375;
        font-weight: 400;
        color: $colorDarkBlue;
        padding: 10px 36px 0 12px;

        &::placeholder {
            visibility: hidden;
        }

        &:focus + label {
            font-size: 0.625rem;
            top: 5px!important;
        }

        &:not(:placeholder-shown) + label {
            font-size: 0.625rem;
            top: 5px!important;
        }
    }

    >label {
        font-size: 1rem;
        line-height: 1;
        font-weight: 400;
        color: $colorAcGray;
        position: absolute;
        top: 11px;
        left: 12px;
        pointer-events: none;
        transition: .2s;
    }
}
