@import '@styles/variables/index';

.input-wrapper {
    position: relative;
    width: 100%;

    >input {
        display: flex;
        width: 100%;
        height: 38px;
        background-color: $colorWhite;
        border: 1px solid $colorAcGray;
        border-radius: 4px;
        outline: none;
        font-size: 1rem;
        line-height: 1.375;
        font-weight: 400;
        color: $colorDarkBlue;
        padding: 10px 36px 0 12px;

        &.error {
            background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M256 32c14.2 0 27.3 7.5 34.5 19.8l216 368c7.3 12.4 7.3 27.7 .2 40.1S486.3 480 472 480H40c-14.3 0-27.6-7.7-34.7-20.1s-7-27.8 .2-40.1l216-368C228.7 39.5 241.8 32 256 32zm0 128c-13.3 0-24 10.7-24 24V296c0 13.3 10.7 24 24 24s24-10.7 24-24V184c0-13.3-10.7-24-24-24zm32 224c0-17.7-14.3-32-32-32s-32 14.3-32 32s14.3 32 32 32s32-14.3 32-32z" fill="%23BE1F2E"/></svg>') no-repeat calc(100% - 12px);
            background-size: 16px;
            border-color: $colorError;
        }

        &.success {
            background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M470.6 105.4c12.5 12.5 12.5 32.8 0 45.3l-256 256c-12.5 12.5-32.8 12.5-45.3 0l-128-128c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0L192 338.7 425.4 105.4c12.5-12.5 32.8-12.5 45.3 0z" fill="%2347C8A7"/></svg>') no-repeat calc(100% - 12px);
            background-size: 20px;
            border-color: $colorGreen;
        }

        &::placeholder {
            visibility: hidden;
        }

        &:focus + label {
            font-size: 0.625rem;
            top: 5px!important;
        }

        &:not(:placeholder-shown) + label {
            font-size: 0.625rem;
            top: 5px!important;
        }
    }

    >label {
        font-size: 1rem;
        line-height: 1;
        font-weight: 400;
        color: $colorAcGray;
        position: absolute;
        top: 11px;
        left: 12px;
        pointer-events: none;
        transition: .2s;
    }
}
