@media($media-sm) {
    .modal-head {
        justify-content: center;
        padding: 80px 40px 0;

        &__close {
            position: absolute;
            top: 20px;
            right: 20px;
        }
    }
}
