@import './src/styles/variables/index';

.success-modal {
    display: flex;
    flex-direction: column;

    &__close {
        margin: 30px 30px 80px auto;
    }

    >h4 {
        padding: 0 20px;
        text-align: center;
        color: $colorDarkBlue;
        margin-bottom: 30px;
    }

    >svg {
        margin: 0 auto 140px;
    }
}

@import './SuccessModalResponsive';
