@media($media-xl) {
    .todos {
        padding: 16px 20px;
        height: 240px;

        &__head {
            margin-bottom: 16px;

            h5 {
                @include h6;

                line-height: 38px;
            }
        }

        &__customizing {
            margin-bottom: 22px;
        }

        &__empty {
            margin-top: 20px;

            img {
                width: 29px;
                height: 38px;
            }

            h6 {
                margin-top: 18px;
            }
        }
    }
}

@media($media-lg) {
    .todos {
        height: 300px;
        max-width: none;

        &__head {
            h5 {
                @include h5;

                line-height: 38px;
            }
        }

        &__empty {
            margin-top: 42px;

            img {
                width: 38px;
                height: 50px;
            }

            h6 {
                margin-top: 30px;
            }
        }
    }
}

@media($media-sm) {
    .todos {
        padding: 15px;
        height: auto;
        max-height: 700px;

        &__empty {
            margin-top: 32px;
        }

        &__list {
            margin: 0 -15px;
        }
    }
}
