.modal {
    overflow: auto;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100%;
    background: rgba($colorWhite, .7);
    z-index: 149;

    &__content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        max-width: 786px;
        background: $colorWhite;
        box-shadow: 0px 5px 40px rgba(89, 131, 189, 0.4);
        border-radius: 7px;
    }

    &__close {
        width: 30px;
        height: 30px;
        position: relative;
        cursor: pointer;

        div {
            position: absolute;
            top: 14px;
            left: 0;
            width: 30px;
            height: 2px;
            background: $colorBlack;
            border-radius: 1px;

            &:nth-child(1) {
                transform: rotate(45deg);
            }

            &:nth-child(2) {
                transform: rotate(-45deg);
            }
        }
    }
}

@import './ModalsResponsive';
