@media($media-xl) {
    .modal {
        &__content {
            max-width: 680px;
        }
    }
}

@media($media-lg) {
    .modal {
        &__content {
            max-width: 444px;
        }
    }
}

@media($media-sm) {
    .modal {
        top: 68px;
        min-height: calc(100% - 68px);
        background: none;

        &__content {
            border-top: 1px solid rgba($colorLightBlue, .3);
            top: 0;
            left: 0;
            min-height: 100%;
            transform: none;
            max-width: none;
            box-shadow: none;
            border-radius: 0;
        }

        &__close {
            position: absolute;
            top: 20px;
            right: 20px;
        }
    }
}
