$colorMelon: #FFB6B6;
$colorBegonia: #FF7070;
$colorBlood: #AA1111;
$colorGoldenBrown: #9F5616;
$colorVividOrange: #FF5C00;
$colorDeepSaffron: #FF9933;
$colorTangerineYellow: #FFCC00;
$colorYellow: #FFFF00;
$colorCastletonGreen: #0A5B39;
$colorShamrockGreen: #049A5B;
$colorOceanGreen: #51D18C;
$colorFreshAir: #A6DEFA;
$colorVividSkyBlue: #00CCFF;
$colorAzure: #0084FF;
$colorCoolBlack: #062A61;
$colorElectricIndigo: #6600FF;
$colorVeryLightBlue: #6666FF;
$colorMaximumBluePurple: #9999FF;
$colorDeepViolet: #4B0066;
$colorHeliotropeMagenta: #A617A6;
$colorDeepFuchsia: #D356C6;
$colorPaleMagenta-Pink: #FF99CA;
$colorDustyRose: #CD89AA;
$colorRomanSilver: #7D949B;
$colorBlack: #000000;
$colorWhite: #FFFFFF;
$colorGray: #282E34;
$colorDarkBlue: #141F2E;
$colorBlue: #324A66;
$colorLightBlue: #426FB3;
$colorSuperLightBlue: #E6F3FE;
$colorLightGray: #E7E9F1;
$colorSuperLightOrange: #FFF2EB;
$colorOrange: #E8481C;
$colorDullOrange: #E65100;
$colorGreen: #47C8A7;
$colorAcGray: #B1B7CE;
$colorAcGray2: #9298B2;
$colorSuperLightGray: #F7F8FF;
$colorError: #BE1F2E;
