$colorMelon: #FFB6B6;
$colorBegonia: #FF7070;
$colorRed: #BE1F2E;
$colorBlood: #AA1111;
$colorGoldenBrown: #9F5616;
$colorVividOrange: #FF5C00;
$colorDeepSaffron: #FF9933;
$colorTangerineYellow: #FFCC00;
$colorYellow: #FFFF00;
$colorCastletonGreen: #0A5B39;
$colorShamrockGreen: #049A5B;
$colorOceanGreen: #51D18C;
$colorFreshAir: #A6DEFA;
$colorVividSkyBlue: #00CCFF;
$colorAzure: #0084FF;
$colorCoolBlack: #062A61;
$colorElectricIndigo: #6600FF;
$colorVeryLightBlue: #6666FF;
$colorMaximumBluePurple: #9999FF;
$colorDeepViolet: #4B0066;
$colorHeliotropeMagenta: #A617A6;
$colorDeepFuchsia: #D356C6;
$colorPaleMagenta-Pink: #FF99CA;
$colorDustyRose: #CD89AA;
$colorRomanSilver: #7D949B;
$colorBlack: #000000;
$colorWhite: #FFFFFF;
$colorGray: #282E34;
$colorDarkBlue: #141F2E;
$colorBlue: #324A66;
$colorLightBlue: #426FB3;
$colorSuperLightBlue: #E6F3FE;
$colorLightGray: #E7E9F1;
$colorSuperLightOrange: #FFF2EB;
$colorOrange: #E8481C;
$colorDullOrange: #E65100;
$colorGreen: #47C8A7;
$colorAcGray: #B1B7CE;
$colorAcGray2: #9298B2;
$colorSuperLightGray: #F7F8FF;

//$colorsMap: (
//    orange400: #E8481C,
//    orange300: #E65100,
//    orange200: #FF5C00,
//    orange100: #FFF2EB,
//    gray100: #F7F8FF,
//    gray200: #E7E9F1,
//    gray300: #B1B7CE,
//    gray400: #9298B2,
//    gray500: #282E34,
//    green100: #47C8A7,
//    green200: #51D18C,
//    green300: #049A5B,
//    green400: #0A5B39,
//    blue100: #E6F3FE,
//    blue200: #00CCFF,
//    blue300: #6666FF,
//    blue400: #426FB3,
//    blue500: #324A66,
//    blue600: #141F2E,
//    yellow100: #FFFF00,
//    yellow200: #FFCC00,
//);
