@import '@styles/variables/index';
@import '../Modals';

.add-event-modal {
    &__head {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 30px 30px 0;

        h4 {
            color: $colorDarkBlue;
        }
    }

    .form {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        flex-wrap: wrap;
        padding: 40px 90px 70px;

        &__field-box {
            width: calc(50% - 10px);
            margin-top: 12px;
        }

        &__field--textarea {
            height: 90px;
            resize: none;

            &::-webkit-scrollbar {
                width: 0;
            }
        }

        &__field-box--end-date {
            margin-top: -38px;
        }

        &__submit-box {
            display: flex;
            justify-content: center;
            margin-top: 40px;
            width: 100%;
        }

        &__submit {
            @include btn-secondary;
            @include btn-md;

            width: 200px;

            h5 {
                margin-left: 10px;
            }
        }
    }
}

@import './AddEventModalResponsive';
