@mixin btn-lg {
    width: 250px;
    height: 48px;
    border-radius: 4px;
    font-size: 1.375rem;
}
@mixin btn-md {
    width: 140px;
    height: 38px;
    border-radius: 4px;
    font-size: 1.125rem;
}
@mixin btn-xs {
    width: 100px;
    height: 24px;
    border-radius: 2px;
    font-size: 0.8125rem;
}
@mixin btn-primary {
    background: $colorOrange;
    color: $colorWhite;

    &:hover {
        background: $colorDullOrange;
    }
}
@mixin btn-secondary {
    background: $colorBlue;
    color: $colorWhite;

    &:hover {
        background: $colorDullOrange;
    }

    &.disabled {
        background: $colorLightGray;
        color: $colorAcGray;
    }
}
@mixin btn-tertiary {
    background: $colorLightBlue;
    color: $colorWhite;

    &:hover {
        background: $colorBlue;
    }
}
@mixin btn-tertiary-outline {
    background: $colorWhite;
    color: $colorBlue;
    border: 1px solid $colorBlue;

    &:hover {
        color: $colorWhite;
        background: $colorBlue;
    }
}
@mixin btn-success {
    background: $colorGreen;
    color: $colorWhite;
}
@mixin btn-error {
    background: $colorError;
    color: $colorWhite;

    &:hover {
        background: rgba($colorError, .8);
    }
}
@mixin btn-icon {
    min-width: 38px;
    width: 38px;
    height: 38px;
    border-radius: 4px;

    svg {
        font-size: 1rem;
    }
}

@mixin h1 {
    font-size: 2.5rem;
    line-height: 1.25;
}

@mixin h2 {
    font-size: 2rem;
    line-height: 1.25;
}

@mixin h3 {
    font-size: 1.75rem;
    line-height: 1.3;
}

@mixin h4 {
    font-size: 1.5rem;
    line-height: 1.34;
}

@mixin h5 {
    font-size: 1.25rem;
    line-height: 1.3;
}

@mixin h6 {
    font-size: 1rem;
    line-height: 1.375;
}

@mixin p {
    font-size: 0.75rem;
    line-height: 1.34;
}
