body {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    line-height: 1;
    font-weight: 400;
    color: $colorGray;
}
h1 {
    font-size: 2.5rem;
    line-height: 1.25;
}
h2 {
    font-size: 2rem;
    line-height: 1.25;
}
h3 {
    font-size: 1.75rem;
    line-height: 1.3;
}
h4 {
    font-size: 1.5rem;
    line-height: 1.34;
}
h5 {
    font-size: 1.25rem;
    line-height: 1.3;
}
h6 {
    font-size: 1rem;
    line-height: 1.375;
}
p {
    font-size: 0.75rem;
    line-height: 1.34;
}
input, textarea, button {
    font-family: 'Source Sans Pro', sans-serif;
}
button {
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1;
    font-weight: 400;
    border: none;
    transition: .2s;
    cursor: pointer;
}
.tip {
    position: relative;
    z-index: 5;
    width: 240px;
    background: $colorWhite;
    box-shadow: 0px 0px 16px 0px #324A6629;
    border-radius: 4px;
    padding: 12px 26px;
}
.tip-triangle {
    position: absolute;
    width: 0;
    height: 0;
}
.tip-right {
    top: 50%;
    left: 100%;
    transform: translateY(-50%);
    border-top: 5px solid transparent;
    border-left: 10px solid $colorWhite;
    border-bottom: 5px solid transparent;
}
.tip-left {
    top: 50%;
    right: 100%;
    transform: translateY(-50%);
    border-top: 5px solid transparent;
    border-right: 10px solid $colorWhite;
    border-bottom: 5px solid transparent;
}
.tip-top {
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 10px solid $colorWhite;
}
.tip-bottom {
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 10px solid $colorWhite;
}

.datepicker {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M152 64H296V24C296 10.75 306.7 0 320 0C333.3 0 344 10.75 344 24V64H384C419.3 64 448 92.65 448 128V448C448 483.3 419.3 512 384 512H64C28.65 512 0 483.3 0 448V128C0 92.65 28.65 64 64 64H104V24C104 10.75 114.7 0 128 0C141.3 0 152 10.75 152 24V64zM48 448C48 456.8 55.16 464 64 464H384C392.8 464 400 456.8 400 448V192H48V448z" fill="%23B1B7CE"/></svg>');
    background-repeat: no-repeat;
    background-position-x: calc(100% - 8px);
    background-position-y: 50%;
    background-size: 22px 14px;
    padding: 12px 36px 0 12px;
    width: 100%;
    height: 38px;
    border: 1px solid $colorAcGray;
    border-radius: 4px;
    font-size: 1rem;
    line-height: 1.375;
    font-weight: 400;
    color: $colorDarkBlue;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;

    &.error {
        background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M256 32c14.2 0 27.3 7.5 34.5 19.8l216 368c7.3 12.4 7.3 27.7 .2 40.1S486.3 480 472 480H40c-14.3 0-27.6-7.7-34.7-20.1s-7-27.8 .2-40.1l216-368C228.7 39.5 241.8 32 256 32zm0 128c-13.3 0-24 10.7-24 24V296c0 13.3 10.7 24 24 24s24-10.7 24-24V184c0-13.3-10.7-24-24-24zm32 224c0-17.7-14.3-32-32-32s-32 14.3-32 32s14.3 32 32 32s32-14.3 32-32z" fill="%23BE1F2E"/></svg>');
        background-size: 22px 16px;
        border-color: $colorError;
    }

    &.success {
        background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M470.6 105.4c12.5 12.5 12.5 32.8 0 45.3l-256 256c-12.5 12.5-32.8 12.5-45.3 0l-128-128c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0L192 338.7 425.4 105.4c12.5-12.5 32.8-12.5 45.3 0z" fill="%2347C8A7"/></svg>');
        background-size: 22px 20px;
        border-color: $colorGreen;
    }
}
.textarea {
    background-repeat: no-repeat;
    background-position-x: calc(100% - 8px);
    background-position-y: 8px;
    padding: 12px 36px 0 12px;
    width: 100%;
    border: 1px solid $colorAcGray;
    border-radius: 4px;
    font-size: 1rem;
    line-height: 1.375;
    font-weight: 400;
    color: $colorDarkBlue;

    &:focus + label {
        font-size: 0.625rem;
        top: 3px!important;
    }

    &.error {
        background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M256 32c14.2 0 27.3 7.5 34.5 19.8l216 368c7.3 12.4 7.3 27.7 .2 40.1S486.3 480 472 480H40c-14.3 0-27.6-7.7-34.7-20.1s-7-27.8 .2-40.1l216-368C228.7 39.5 241.8 32 256 32zm0 128c-13.3 0-24 10.7-24 24V296c0 13.3 10.7 24 24 24s24-10.7 24-24V184c0-13.3-10.7-24-24-24zm32 224c0-17.7-14.3-32-32-32s-32 14.3-32 32s14.3 32 32 32s32-14.3 32-32z" fill="%23BE1F2E"/></svg>');
        background-size: 22px 16px;
        border-color: $colorError;
    }

    &.success {
        background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M470.6 105.4c12.5 12.5 12.5 32.8 0 45.3l-256 256c-12.5 12.5-32.8 12.5-45.3 0l-128-128c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0L192 338.7 425.4 105.4c12.5-12.5 32.8-12.5 45.3 0z" fill="%2347C8A7"/></svg>');
        background-size: 22px 20px;
        border-color: $colorGreen;
    }
}
.form-control {
    position: relative;
    display: flex;

    >label {
        font-size: 1rem;
        line-height: 1;
        font-weight: 400;
        color: $colorAcGray;
        position: absolute;
        top: 11px;
        left: 12px;
        pointer-events: none;
        transition: .2s;
    }

    &.active {
        label {
            font-size: 0.625rem;
            top: 3px!important;
        }
    }
}
