@import '@styles/variables/index';

.todos-item {
    background: $colorWhite;
    transition: background .2s;

    &:hover {
        background: $colorSuperLightBlue;
    }

    &:first-child .todos-item__wrapper {
        border-top: 1px solid $colorLightGray;
    }

    &:hover .todos-item__hover {
        opacity: 1;
    }

    &__wrapper {
        display: flex;
        flex-direction: column;
        padding: 8px 0;
        margin: 0 20px;
        border-bottom: 1px solid $colorLightGray;
        position: relative;
    }

    &__content {
        display: flex;
        align-items: center;
    }

    &__type {
        font-size: 14px;
        color: $colorAcGray;
        min-width: 22px;
    }

    &__title {
        margin-left: 4px;
        margin-right: 20px;
        color: $colorLightBlue;
        cursor: pointer;
    }

    &__description {
        display: flex;
        align-items: center;
        margin-left: auto;
        margin-right: 0;
    }

    &__marker {
        background: $colorGray;
        padding: 0 4px;
        border-radius: 4px;
        color: $colorWhite;

        &::first-letter {
            text-transform: uppercase;
        }
    }

    &__marker.critical, &__marker.declined, &__marker.rejected {
        background: $colorVividOrange;
    }

    &__marker.warning {
        background: $colorDeepSaffron;
    }

    &__marker.active, &__marker.sold, &__marker.success, &__marker.confirmed {
        background: $colorGreen;
    }

    &__date {
        margin-left: 20px;
        color: $colorAcGray2;
    }

    &__hover {
        display: flex;
        opacity: 0;
        position: absolute;
        top: 50%;
        right: 0;
        padding-left: 20px;
        transform: translateY(-50%);
        transition: opacity .2s;
        background: $colorSuperLightBlue;
        background: linear-gradient(270deg, $colorSuperLightBlue 80%, rgba($colorSuperLightBlue, 0) 100%);
    }

    &__mark {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 8px;
        border-radius: 4px;
        margin-left: 8px;
        cursor: pointer;

        svg {
            font-size: 16px;
            color: $colorWhite;
        }
    }

    &__mark--dislike {
        background: $colorOrange;
    }

    &__mark--like {
        background: $colorGreen;
    }
}

@import './ToDoItemResponsive';
