@media($media-xl) {
    .header {
        &__greetings {
            margin-left: 28px;
        }
    }
}

@media($media-lg) {
    .header {
        &__greetings {
            margin-left: 20px;
        }
    }
}

@media($media-md) {
    .header {
        &__wrapper {
            height: 68px;
            padding: 0 15px;
        }

        &__row {
            position: relative;
        }

        &__search {
            position: absolute;
            flex-direction: row-reverse;
            justify-content: flex-start;
            background: $colorWhite;
            z-index: 2;
            top: 50%;
            left: calc(100% - 140px);
            transform: translateY(-50%);
            height: auto;
            width: 45px;
            border-color: transparent;
            padding: 0 5px 0 0;
            transition: .2s;

            input {
                padding: 0;
                width: 100%;
            }

            img {
                width: 38px;
                height: 38px;
                padding: 8px;
                margin-left: 0;
            }
        }

        &__search.active {
            width: 140px;
            border-color: $colorAcGray;

            input {
                display: flex;
                width: 100%;
            }
        }

        &__notifications-icon {
            margin-left: 0;
        }

        &__greetings {
            display: none;
        }

        &__avatar {
            display: none;
        }

        &__burger {
            display: flex;
            order: 1;
            margin-left: 14px;
            width: 38px;
            height: 38px;
            position: relative;
            cursor: pointer;

            div {
                position: absolute;
                left: 7px;
                width: 24px;
                height: 2px;
                background: $colorAcGray;
                transition: .2s;

                &:nth-child(1) {
                    top: 10px;
                }

                &:nth-child(2) {
                    top: 18px;
                }

                &:nth-child(3) {
                    top: 26px;
                }
            }
        }

        &__burger.active {
            div {
                &:nth-child(1) {
                    top: 18px;
                    transform: rotate(45deg);
                }

                &:nth-child(2) {
                    display: none;
                }

                &:nth-child(3) {
                    top: 18px;
                    transform: rotate(-45deg);
                }
            }
        }
    }
}
