@import '@styles/variables/index';

.sidebar {
    position: fixed;
    top: 60px;
    left: 0;
    z-index: 99;
    height: auto;
    min-height: calc(100vh - 60px);

    &__background {
        display: none;
    }

    &__toggler {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 220px;
        height: 100%;
        min-height: calc(100vh - 60px);
        background: $colorLightBlue;
        padding: 40px 0 0 20px;
    }

    &__route {
        display: flex;
        align-items: center;
        text-decoration: none;
        margin-top: 20px;
        cursor: pointer;

        &:first-child {
            margin-top: 0;
        }

        h6 {
            margin-left: 10px;
            color: $colorWhite;
            opacity: .7;
        }
    }

    &__route.active {
        svg {
            rect {
                opacity: 1;
            }

            path {
                fill: $colorLightBlue;
            }
        }

        h6 {
            opacity: 1;
        }
    }

    &__user {
        display: none;
    }

    &__avatar {
        @include h5;
    }
}

@import './SidebarResponsive';
